@model IEnumerable<BookApp.Models.ViewModels.BookViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- KATEGORİ SEÇİMİNE GÖRE KİTAPLAR -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Kategoriler</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/Default/Books">Tüm Kitaplar</a></h4>
                            </div>
                            @await Component.InvokeAsync("CategoryGetList")

                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        Alt Kategoriler
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        @await Component.InvokeAsync("GenreGetList")
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--/category-products-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <p><img style="width:270px;" src="https://c0.wallpaperflare.com/preview/698/843/707/ireland-dublin-trinity-college-culture.jpg" alt="" /></p> 
                        <p><img style="width:270px;" src="https://i.pinimg.com/564x/be/93/a2/be93a21ea57e8879d59c4ec44a423e6a.jpg" alt="" /></p> 
                        <p><img style="width:270px;" src="https://www.backgroundscool.com/wp-content/uploads/2019/03/book_coffee_bed_shadow_117507_938x1668.jpg" alt="" /></p> 
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">@ViewBag.categoryName KİTAPLARI</h2>
                    @foreach (var item in Model)
                    {
                        <!-- Kitaplar tablosundan DefaultController'da BookCategory actionunda ViewBage aldığımız kategoriId ile tablodaki kategoriId ile eşleşen kitapları listeliyoruz -->
                        if (item.CategoryId== ViewBag.x)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="/Default/BookDetails/@item.BookId"><img class="indeximg" src="@item.ImageURL" alt="" /></a>
                                            <h2>@item.Price ₺</h2>
                                            <p>@item.Name</p>
                                            
                                            <!-- Ürün stok sayısı 0'dan büyükse sepete ekle butonu aktif olacak -->
                                            @if (item.Stock > 0)
                                            {
                                                <a href="/Cart/CartAddd/@item.BookId" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                            }

                                            <!-- Ürün stok sayısı 0 veya 0'dan küçükse sepete ekle butonu devre dışı kalacak-->
                                            @if (item.Stock <= 0)
                                            {
                                                <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Stokta yok</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>