<!DOCTYPE html>
<html>
<head>
    <title>Erişim Engeli</title>
    <link href="~/BookShop/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/BookShop/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center">
        <div class="logo-404">
            <a href="index.html"><img src="~/BookShop/images/home/logo1.png" alt="" /></a>
        </div>
        <div class="content-404" style="margin-top:-100px;">
            <img style="width:750px;" src="~/BookShop/images/404/404.png" class="img-responsive" alt="" />
            <h1 style="margin-top:-50px;"><b>OPPS!</b> Bu sayfaya erişmek için yetkiniz bulunmamakta!</h1>
            <p>Lütfen aşağıdaki bağlantıyı kullanarak bir önceki sayfaya dönün..</p>
            <a class="btn btn-primary" href="#" onclick="history.back();">Geri Dön</a>
        </div>
    </div>
</body>
</html>